.card__like-button {
  background-image: url('../../../images/card-like-button.svg');
  background-color: #FFFFFF;
  min-width: 22px;
  min-height: 19px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
  transition: opacity 4ms;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
}
